<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Stride</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .center-content {
            text-align: center;
            color: #0000FF;

        }
    </style>
</head>
<body>
    <div class="center-content">
        <h1>Hello</h1>
        <h2>Welcome to "Stride"</h2>
        <h3>This is Flask application with products information.</h3>
        <h3>Author: Vishnu Jyothi Vutukuri</h3>
    </div>
</body>
</html>
